/* src/pages/styles/DeliveryAddress.css */
.delivery-address-wrapper {
    grid-column: 1 / -1;
    margin-top: 12px;
    width: 100%;
}

.leaflet-container {
    width: 100%;
    height: 300px;
    margin-top: 10px;
}